main {
    font-family: Arial, sans-serif;
    background-color: #ded1d1;
    min-height: 500px;
}

.border-boxed {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #dcdbcf;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    display: block;
    width: 80%;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

select {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff; /* optional, sets the background color of the dropdown menu */
    color: #555; /* optional, sets the font color of the dropdown menu */
}

button {
    background-color: #7fabe5;
    color: #131212;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    color: #d8d8e7;
    background-color: #0b4eaf;
}


