table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: yellowgreen;
}

tr:nth-child(odd) {
    background-color: indianred;
}


tr:hover {
    background-color: #ddd;
}